/* Shabnam fonts */
@font-face {
  font-family: "Shabnam";
  src: url(../fonts/Shabnam.eot) format("eot"),
    url(../fonts/Shabnam.woff) format("woff"),
    url(../fonts/Shabnam.ttf) format("ttf");
  font-weight: normal;
}
@font-face {
  font-family: "Shabnam-bold";
  src: url(../fonts/Shabnam-Bold.ttf) format("ttf");
  font-weight: bold;
}
@font-face {
  font-family: "Shabnam-light";
  src: url(../fonts/Shabnam-Light.ttf) format("ttf");
  font-weight: lighter;
}
/* //////////////////////////////////////////////////////////////////////////////////// */

/************************* layout *************************/
* {
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  justify-content: center;
  font-family: "Shabnam", sans-serif;
}
.container {
  background-color: #ffffff;
}
.dash-board {
  background-color: #f5f5f5;
  padding: 0;
}
aside {
  height: 100vh;
  background-color: #ffffff;
  position: fixed;
}
/* //////////////////////////////////////////////////////////////////////////////////// */

/************************* header *************************/
header {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 0;
}
.header-items {
  background-color: aliceblue;
  width: 23%;
  height: 79%;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0.5px 0.5px 4px rgba(0, 0, 0, 0.2);
  display: flex;
}
/* -- */
header .header-items .logo {
  width: 23%; /**/
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px 0 0 5px;
}
header .logo img {
  width: 75%;
  height: auto;
}
header .news .logo {
  background: linear-gradient(0deg, #607dfd, #22c3f7);
}
header .diploma .logo {
  background: linear-gradient(0deg, #ed4552, #f3477f);
}
header .tickets .logo {
  background: linear-gradient(0deg, #f09b1c, #fec53a);
}
header .users .logo {
  background: linear-gradient(0deg, #6071e3, #8160e5);
}
/* -- */
header .header-items .texts {
  width: 77%;
  height: 100%;
  padding: 5px 10px;
  direction: rtl;
  display: flex;
  align-items: end;
  flex-direction: column;
  line-height: 150%;
}
header .header-items .texts .title {
  color: #9e9e9e;
  font-size: 13px;
}
header .header-items .texts .middle {
  font-size: 100%;
  font-weight: 600;
}
header .header-items .texts .inline-texts .bottom-number {
  font-size: 10px;
  font-weight: 800;
}
header .header-items .texts .inline-texts .one {
  color: #e53a33;
}
header .header-items .texts .inline-texts .two {
  color: #13cb8f;
}
header .header-items .texts .inline-texts .three {
  color: #6457e5;
}
header .header-items .texts .inline-texts .four {
  color: #7067e8;
}
header .header-items .texts .inline-texts .bottom-text {
  color: #9e9e9e;
  font-size: 11px;
}
/* //////////////////////////////////////////////////////////////////////////////////// */

/************************* side bar *************************/
aside {
    box-shadow: 0.5px 0.5px 4px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 100%;
}
/* -- */
aside .time {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
aside .time .clock {
    color: #6256e6;
    font-size: 1.9em;
}
aside .time .date {
    color: #6c7de5;
    font-size: 0.7em;
}
/* -- */
aside .developer {
    width: 100%;
    height: 11%;
    padding: 15px 0px;
    direction: rtl;
    display: flex;
    justify-content: center;
}
aside .developer .avatar {
    width: 20%;
    height: auto;
    margin: 5px;
}
aside .developer .avatar img {
    width: 100%;
    border-radius: 50%;
}
aside .developer .texts {
    width: 50%;
    height: auto;
    margin: 5px;
    text-align: center;
    padding-top: 6px;
}
aside .developer .texts .name {
    font-size: 0.7em;
    margin-bottom: 2px;
    font-weight: bold;
}
aside .developer .texts .job {
    font-size: 0.6em;
    color: #aeaeae;
}
/* -- */
aside nav{
    direction: rtl;
    width: 100%;
}
aside nav ul{
    width: 100%;
    height: 250px;
}
aside nav ul li{
    display: flex;
    justify-content: start;
    color: #9f9f9f;
    font-weight: 700;
    width: 100%;
    margin-top: 15px;
}
aside nav ul li span {
    padding-right: 10px;
    font-size: 12px;
}
aside nav ul li .nav-icon {
    font-size: 12px;
    position: relative;
    top: 4.5px;
}
.sub {
    margin-top: 15px;
    font-size: 0.6em;
    padding-right: 30px;
}
.badge {
    background-color: #f4365c;
    color: #ffffff;
    font-size: 9px;
}
.left {
    position: absolute;
    left: 25px;
}
.smaller {
    font-size: 0.6em;
}
.blue {
    color: #6256e6;
}
/* -- */
aside .logo {
    position: absolute;
    bottom: 45px;
    width: 50px;
}
/* //////////////////////////////////////////////////////////////////////////////////// */

/************************* side bar *************************/
.main-section {
    padding: 0 1.7%;
    display: flex;
    flex-wrap: wrap;
}
.main-section .performance {
    width: 38.5%;
    height: 300px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0.5px 0.5px 4px rgba(0, 0, 0, 0.3);
    margin: 0.75% 0.75% 0.75% 0;
}
.main-section .blue-board {
    width: 60%;
    height: 300px;
    background: linear-gradient(110deg, #8364e5, #6766e5);
    border-radius: 5px;
    box-shadow: 0.5px 0.5px 4px rgba(0, 0, 0, 0.3);
    margin: 0.75% 0px 0.75% 0.75%;
}
.main-section .inbox {
    width: 38.5%;
    height: 300px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0.5px 0.5px 4px rgba(0, 0, 0, 0.3);
    margin: 0.75% 0.75% 0.75% 0;
}
.main-section .tickets {
    width: 60%;
    height: 300px;
    border-radius: 5px;
    box-shadow: 0.5px 0.5px 4px rgba(0, 0, 0, 0.3);
    margin: 0.75% 0px 0.75% 0.75%;
}
.main-section .news {
    width: 49.2%;
    height: 300px;
    border-radius: 5px;
    box-shadow: 0.5px 0.5px 4px rgba(0, 0, 0, 0.3);
    margin: 0.75% 0.75% 0.75% 0;
}
.main-section .encyclopedias {
    width: 49.2%;
    height: 300px;
    border-radius: 5px;
    box-shadow: 0.5px 0.5px 4px rgba(0, 0, 0, 0.3);
    margin: 0.75% 0px 0.75% 0.75%;
}
/* //////////////////////////////////////////////////////////////////////////////////// */